.containerWhatsapp {
    position: fixed;
    display: flex;
    bottom: 6.5rem;
    right: 1rem;
    width: 47.25px;
    height: 47.25px;
    z-index: 1;
    background-color: #FFFFFF;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
    border-radius: 24px;
  }
  
  .containerLink {
    display: flex;
    text-decoration: none;
    margin-left: 13px;
    gap: 18.17px;
    align-items: center;
  }
  
  .containerText {
    font-size: 14.15px;
    line-height: 15.57px;
    font-family: 'Muller';
    font-weight: 400;
    color: #3C3C3C;
  }
  
  .containerIcon {
    height: 100%;
    width: 20px;
    padding-top: 0.25em;
    padding-bottom: 0.32em;
    position: relative;
    text-align: center;
  }
  .HiddenText{
    overflow: hidden;
    height: 377px;
  }
  .ButtonShowMore{
    background: transparent;
    border: none;
    margin-top: 1rem;
    padding: 0;
    color: #2E98FB;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: 9.5%;
    text-underline-offset: 20.5%;
    text-underline-position: from-font;
    cursor:pointer
  }
  @media screen and (min-width: 64rem) {
    .containerWhatsapp{
      bottom: 7.5rem;
      right: 5rem;
    }
    .HiddenText{
      height: 277px;
    }
  }